node_modules
dist
release
.nyc_output
coverage
*.log
*.tmp
tmp
.DS_Store
.git
.gitignore
 README.md
.vscode
.nuxt
.next
dist-electron
electron/dist
electron/main/node_modules
electron/preload/node_modules
.DS_Store
Thumbs.db